<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">Welcome to Menium, a place where words matter. </h1>
                <p class="lead">Menium taps into the brains of the world's most insightful writers, thinkers, and storytellers.</p>
            
                <button type="button" [routerLink]="['/users/login']" class="btn btn-outline-primary">Get Started</button>
            </div>
        </div>
    </div>
</header>