<div class="container">
    <div class="row">
        <br>

        <div class=" p-3 mb-2 mt-2">
            <span *ngFor="let cat of categories; let i=index">
                <span *ngIf="i < 8">
                    <a [hidden]="!isLogged" mat-button class="nav-link" (click)="getCategoryPosts(cat)">{{cat.name}}</a>
                </span>

            </span>

            <a [hidden]="!isLogged" mat-button class="nav-link float-right" (click)="nagivateToCategories()">More</a>

        </div>

    </div>
    <div class="row">
        <div class="card col-12 " *ngFor="let post of posts">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="/assets/imgs/temp_images/{{post['image']}}.png" class="card-img" alt="...">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.content | slice:0:20}}</p>
                        <p class="card-text"><small class="text-muted">{{post.createdAt | date}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col-3 text-center mb-5">
            <div class="paginator text-center m-3">
                <button mat-mini-fab color="primary" (click)="navigatePagination(-1)">
                    <mat-icon aria-hidden="false">keyboard_arrow_left</mat-icon>
                </button>
                <button mat-mini-fab color="primary" (click)="navigatePagination(1)">
                    <mat-icon aria-hidden="false">keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </div>
        <div class="col"></div>
    </div>

</div>